h1{
background-color: aqua;
color: blue;    
}

img{
    border-radius: 10%;
    width: 100px;
    height: 100px;
}
h2{
    color: rgb(165, 30, 30);
    background-color: black;
}
image{
    width: 50px;
    height: 50px;

}